$font1: 'Lato', sans-serif;

$bannerColor: rgb(79, 185, 93);
$diaryHeaderColor: rgb(66, 156, 78);
$ellipsis: rgb(207, 216, 208);
$bodyBackground: rgb(233, 235, 238);
$cardBackground: rgb(255, 255, 255);
$softerGrey: rgb(187, 186, 186);
$softerGreyLowO: rgba(187, 186, 186, .5);
$softGrey: rgb(126, 125, 125);