@import "~bootstrap/scss/bootstrap";
@import './colors-fonts.scss';

body {
  background-color: white;
}

.hide {
  display: none;
}

#pineModal {
  padding: 100px;
}

#navBarNav {
  font-family: $font1!important;
  background-color: $bannerColor!important;
  color: white!important;
}