@import "~bootstrap/scss/bootstrap";
@import './colors-fonts.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';

head, body{
  height:100vh;
}

body {
  background-color: $bodyBackground;
}

@media screen
  and (max-device-width: 1280px)
  and (min-device-width: 1180px)
  and (min-resolution: 192dpi) {
    #pineModal {
      // padding-left: 100px;
    }
  }

.modal-content {
  // overflow-x: hidden!important;
  // overflow-y: hidden!important;
}
// end modal section

/* Add User Module */
#add-user-module {
  width:30px;
  margin-bottom: 1px;
  margin-left: 10px;
  margin-top:10px;
 }
 #add-user-module #open-add-user-form-btn {
 background: #54bb7d;
 font-size: 1.5em;
 color: white;
 padding-bottom: 5px;
 }
 #add-user-module form {
  position: absolute;
  padding: 10px;
  width: 150px;
  background-color: #e1e1e1;
  border: 1px solid #999;
  display: none;
 }
 #add-user-module form input {
  width: 97%;
  margin: 2px 0;
 }
 #add-user-module form button {
  background: #54bb7d;
  font-size: 1em;
  padding: 0px 10px;
  color: white;
  margin-top: 10px;
 }
 #add-user-module:hover form {
  display: block;
 }

 // End of Add User

.hide {
  display: none;
}

#pineModal {
  // padding: 100px;
  // width: auto;
  // padding: 5% 0 0 20%;
  // padding-top: 150px;
  // border-radius: 10px;
}

#navBarNav {
  font-family: $font1!important;
  background-color: $bannerColor!important;
  color: white!important;
}

.show {
  display:block;
}

%single-section{
  height:100%;
  margin-top:20px;
}
#navbar{
  grid-area:header;
  .navbar{
    height:100%;
  }
}

.navbar-button-username,
.navbar-button-nutshell,
.navbar-button-logout {
  color: white;
  font-size: 24px;
}

.container-wrapper{
  height:100%;
  width:100%;
  display:grid;
  grid-template-columns: 1fr ;
  grid-template-rows:75px 1fr 30px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  #layout-wrapper{
    height:100%;
    display:grid;
    grid-template-columns: auto auto auto auto 45px;
    grid-template-rows:1fr;
    grid-column-gap:1.25em;
    grid-template-areas:
      "messages diary news events nav";

  }
}
#layout{
    #messagesComponentDiv, #messageInput{
      height: auto !important;
      overflow: scroll;
      @extend %single-section;
    }
    #diaryComponentDiv{
      @extend %single-section;
    }
    #messagesComponentDiv{
      @extend %single-section;
      grid-area: messages;
    }
    #diaryComponentDiv{
      @extend %single-section;
      grid-area: diary;
    }
    #newsComponentDiv{
      @extend %single-section;
      grid-area: news;

    }
    #eventsComponentDiv{
      @extend %single-section;
      grid-area:events;
    }
    #appNav{
      @extend %single-section;
      background-color:#c7c4c4;
      text-align:center;
      grid-area: nav;
      margin-top:0;
    }
  }

footer{
  display:flex;
  justify-content: center;
  align-items:center;
  background-color:#c7c4c4;
  grid-area:footer;
  font-family:inherit;
  font-size:.725em;
  color:#707070;
}
.card {
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    margin-top: auto;
    padding: 5px;
    align-items: center;
    width: 400px;
}

#appNav{
  display:flex;
  flex-direction:column;
  align-items: center;
  svg{
    margin:10px 10px !important;
    font-size:25px;
  }


}
.userFormWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
