@import "~bootstrap/scss/bootstrap";
@import './colors-fonts.scss';

head, body{
  height:100vh;
}

body {
  background-color: white;
}

.hide {
  display: none; 
}

#pineModal {
  padding: 100px;
}

#navBarNav {
  font-family: $font1!important;
  background-color: $bannerColor!important;
  color: white!important;
}

.show {
  display:block;
}

%single-section{
  height:100%;
  margin-top:20px;
}
#navbar{
  grid-area:header;
  .navbar{
    height:100%;
  }
}
.container-wrapper{
  height:100%;
  width:100%;
  display:grid;
  grid-template-columns: 1fr ;
  grid-template-rows:75px 1fr 30px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  #layout-wrapper{
    height:100%;
    display:grid;
    grid-template-columns: auto auto auto auto 45px;
    grid-template-rows:1fr;
    grid-column-gap:1.25em;
    grid-template-areas:
      "messages diary news events nav";

  }
}
#layout{
  height:100%;
    #messagesComponentDiv, #messageInput{
      @extend %single-section;
    }
    #diaryComponentDiv{
      @extend %single-section;
    }
    #messagesComponentDiv{
      @extend %single-section;
      grid-area: messages;
    }
    #diaryComponentDiv{
      @extend %single-section;
      grid-area: diary;
    }
    #newsComponentDiv{
      @extend %single-section;
      grid-area: news;
      
    }
    #eventsComponentDiv{
      @extend %single-section;
      grid-area:events;
    }
    #appNav{
      @extend %single-section;
      background-color:#c7c4c4;
      text-align:center;
      grid-area: nav;
      margin-top:0;
    }
  }

footer{
  display:flex;
  justify-content: center;
  align-items:center;
  background-color:#c7c4c4;
  grid-area:footer;
  font-family:inherit;
  font-size:.725em;
  color:#707070;
}
.card {
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    margin-top: auto;
    padding: 5px;
    align-items: center;
    width: 400px;
}
#appNav{
  display:flex;
  flex-direction:column;
  align-items: center;
  svg{
    margin:10px 10px !important;
    font-size:25px;
  }
}