@import "~bootstrap/scss/bootstrap";

body {
  background-color: white;
}

.hide {
  display: none;
}

.card {
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    margin-top: auto;
    padding: 5px;
    align-items: center;
    width: 400px;
}