@import '../../../styles/colors-fonts.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';

.messageCard {
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  margin-top: auto;
  padding: 5px;
  align-items: center;
  width: 400px;
}

.card {
  width: auto;
}

.hideStuff {
  display: none;
}

#username {
  display: flex;
  font-family: $font1;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  width: 100%;
  justify-content: center;
  background-color: gray;
}

#message {
  text-align: left;
  font-size: 0.9em;
}

#timestamp {
  font-family: $font1;
  font-size: 14px;
  color: $softerGrey;
  margin-left: -10px;
}