.messageCardDiv{
  width:350px;
  .messageCard {
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    margin-top: auto;
    padding: 5px;
    align-items: center;
    width: auto;
  }
}

.hideStuff {
  display: none;
}